.idea/*
.idea
.gradle/*
.gradle
gradle/*
gradle
out/*
out
build
build/*
gradlew
gradlew.bat

.env
*.properties
.DS_Store
*.csv
*.h5
*.tflite
*.ipynb_checkpoints

data
data/*
dogVScat
dogVScat/*
increasing
increasing/*
logs/*
preview
preview/*